* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* you need to put this to make your max-width in center and aligned*/
}

img {
    max-width: 100%; /*make all image inside to a div ha a max - width of 100%, for image not to overflow */
}

.hero {
    background-color: #2E323F;
    min-height: 600px;
    display: flex; /*requirement to align the container div into center */
    align-items: center; /*aligns the container div into center */
}

.row {
    display: flex;
    outline: 4px solid red;
}

.col {
    width: 100%; /*Automatically put the Flex-items into 100% */
    padding: 4em 2em;
}


/*Hero CSS Start*/
.herotext-primary{
    font-family: "Oswald", sans-serif;
    font-size: 5.625rem;
    line-height: 1;
    color: #fff;
}

.herotext-secondary {
    color: #A59678;
}

.heroparagraph {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #fff;
    margin-top: 11rem;
}

.herobutton {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #A59678;
    padding: .25em 1.75em;
    border-radius: 50px;
    margin-top: 1em;
}

/*Hero CSS End*/

/*Services CSS Start*/

.section-two {
    min-height: 400px;
    display: flex; /*requirement to align the container div into center */
    align-items: center; /*aligns the container div into center */
    background-color: #e9e9eb;
}

.services-title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    color: #A59678;
    text-align: center;
}

.services-paragraph {
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    color: #3B4050;
    text-align: center;
    margin-top: 1em;
    line-height: 1.5;
}

/*Services CSS End */



