* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* you need to put this to make your max-width in center and aligned*/
}

.hero {
    background-color: #2E323F;
}